In [1]:
import pandas as pd

In [52]:
data=pd.read_csv('data.csv')

In [53]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

 Determine the no. of rows and no. of columns in the dataset

In [54]:
data.shape

(23678, 21)

Display the datatypes of each column

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23678 entries, 0 to 23677
Data columns (total 21 columns):
Suburb           23547 non-null object
Address          23547 non-null object
Rooms            23547 non-null float64
Type             23547 non-null object
Price            18396 non-null float64
Method           23547 non-null object
SellerG          23547 non-null object
Date             23547 non-null object
Distance         23546 non-null float64
Postcode         23546 non-null float64
Bedroom2         19066 non-null float64
Bathroom         19063 non-null float64
Car              18921 non-null float64
Landsize         17410 non-null float64
BuildingArea     10018 non-null float64
YearBuilt        11540 non-null float64
CouncilArea      15656 non-null object
Lattitude        19243 non-null float64
Longtitude       19243 non-null float64
Regionname       23546 non-null object
Propertycount    23546 non-null float64
dtypes: float64(13), object(8)
memory usage: 3.8+ MB

Determine the row indexes of rows having all null values (i.e. empty rows)

In [56]:
rows_with_nan_empty = []
for index, row in data.iterrows():
    is_nan_series = row.isnull()
    if is_nan_series.all():
        rows_with_nan_empty.append(index)

#Printing some sample index
print(rows_with_nan_empty)

[31, 1145, 1348, 2119, 3277, 3288, 3745, 3752, 3798, 3855, 4089, 4096, 4164, 4218, 4222, 4326, 4649, 4897, 4942, 5052, 5223, 5265, 5328, 5331, 5383, 5405, 5625, 5741, 5952, 6125, 6133, 6140, 6143, 6251, 6326, 6406, 6446, 6703, 6717, 6853, 6921, 7086, 7261, 7348, 7596, 7743, 7759, 7762, 7775, 8054, 8095, 8118, 8190, 8409, 8501, 8652, 8816, 8974, 9098, 9210, 9232, 9450, 9455, 9586, 9761, 9888, 9894, 10009, 10125, 10390, 10475, 10738, 10952, 11334, 11348, 11552, 11755, 12087, 12441, 12559, 12997, 13066, 13381, 13647, 13725, 14009, 14471, 14644, 14963, 15094, 15214, 15771, 16044, 16252, 16563, 16655, 16848, 17111, 17246, 17611, 17741, 18077, 18148, 18251, 18374, 18476, 18547, 18671, 18742, 18884, 19001, 19287, 19641, 19949, 20087, 20422, 20496, 20695, 20838, 20880, 21055, 21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153, 23341]

4. Determine the total number of empty rows and their percentage in whole dataset and remove them.

In [57]:
cnt=0
for index, row in data.iterrows():
    is_nan_series = row.isnull()
    if is_nan_series.all():
        cnt+=1
print('Percentage count for empty Rows',((cnt/(data.shape[0])*100)))

Percentage count for empty Rows 0.5532561871779711

In [58]:
data.dropna(how = 'all',inplace=True)

Determine the column names having missing values.

In [61]:
Null_Count=data.isnull().sum()

Determine the missing values and their percentage in each column

In [64]:
(Null_Count/data.shape[0])*100

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            21.875398
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.004247
Postcode          0.004247
Bedroom2         19.030025
Bathroom         19.042766
Car              19.645815
Landsize         26.062768
BuildingArea     57.455302
YearBuilt        50.991634
CouncilArea      33.511700
Lattitude        18.278337
Longtitude       18.278337
Regionname        0.004247
Propertycount     0.004247
dtype: float64

Determine the missing values and their percentage in each column.

rows_with_nan = []
for index, row in data.iterrows():
    is_nan_series = row.isnull()
    if is_nan_series.any():
        rows_with_nan.append(index)

#Printing some sample index
print(rows_with_nan)

Determine the missing values and their percentage in each row.

In [66]:
cnt=0
for index, row in data.iterrows():
    is_nan_series = row.isnull()
    if is_nan_series.any():
        cnt+=1
print('Percentage count for Null Rows',((cnt/(data.shape[0])*100)))

Percentage count for Null Rows 73.68666921476196

Determine the column names having more than 30% missing values and remove them from the dataset

In [68]:
#BuildingArea     57.455302
#YearBuilt        50.991634
#CouncilArea      33.51170
data.dropna(subset=['BuildingArea','YearBuilt','CouncilArea'],inplace=True)